@model TransferDetails
@{
    ViewData["Title"] = "TransferAction";
}

<h1>TransferAction</h1>

<p></p>

<form method="post">
    <div class="row justify-content-center">
        <div  class="col-8">
            <div class="form-group">
              <lable for="txtLocation">Location</lable>
              <input type="text" placeholder="" class="form-control" id="txtLocation" asp-for="Location" required>
            </div>
            <div class="form-group">
              <lable for="txtDetails">Details</lable>
              <input type="text" placeholder="" class="form-control" id="txtDetails" asp-for="Details" required>
            </div>
            <p></p>
            <div class="form-group">
                <div class="col-2">
                    <button type="submit" class="btn btn-success" id="btnSave" asp-controller="Asset" asp-action="TransferAssets">Confirm</button>
                </div>      
            </div>
        </div>
    </div>
</form>

